@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, 
body {
    font-family: 'Roboto Mono', monospace;
}

h1,
h2,
h3 {}
header img {
     width: 100%;
    height: auto;
    background-position: center;
}
